<hr style="border:3px solid black"></hr>

# Code for recreating 2D PES from radial coefficients:

<hr style="border:3px solid black"></hr>

In [1]:
import numpy as np
import pandas as pd
import os

<hr style="border:2px solid black"></hr>

### Import V_lambdas and Legendre coefficients created by CODE 2
<span style="color:green"><u> Example Input </u></span>

    Input name 1 : 2D_Vlam.dat             # file name containing V_lambda
    Separation: ,                          # Separation: Options are comma (,) and tab (\t), multiple spaces(\s+), etc. 
    Input name 1 : 2D_L_coeff.npy          # file name containing Legendre coefficients (no separation required)

***
<span style="color:indigo"><u> Example Output</u></span>
   
       Prints contents of 2D radial coefficients
       Optional/Commented (print radial coordinates)
<hr style="border:2px solid black"></hr>

In [2]:
# saving location of required folders
input_dir = os.getcwd()+'/'
out_data = input_dir + 'data/2D_MP/'
    
df_Vn = pd.read_csv(out_data+'2D_Vlam.dat',sep=',')                       # importing 2D radial coefficients
df_R = df_Vn.pop('R')                                          # removing R column from df_Vn and saving to df_R
px = np.load(out_data+"2D_L_coeff.npy")                                   # importing legendre coefficients
#print("Radial coordinates are: \n ", df_R)                               # Optional: prints radial coordinates
print("The radial terms imported are: \n ")                               # printing radial dataframe
df_Vn

The radial terms imported are:

,0,2,4,6,8,10,12
0,556671.275025,2.145277e+06,2.211775e+06,1.426113e+06,688385.745799,360693.366136,164022.829592
1,375747.300221,1.449175e+06,1.495129e+06,9.648625e+05,466152.276598,244266.425612,110999.691166
2,253392.102527,9.781473e+05,1.009933e+06,6.523540e+05,315470.187866,165320.204528,75067.762529
3,170706.128905,6.596344e+05,6.816420e+05,4.407428e+05,213355.438151,111816.283158,50731.514641
4,114872.343865,4.444091e+05,4.596652e+05,2.975407e+05,144192.403516,75575.259460,34258.720126
...,...,...,...,...,...,...,...
176,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
177,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
178,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
179,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
180,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000

<hr style="border:2px solid black"></hr>

### Declare important variables
<hr style="border:2px solid black"></hr>

In [3]:
lm  = len(px.T)                    # Radial terms
nc  = len(df_Vn)                   # number of Radial coordinates 
ngm = len(px)                      # number of angular coordinates

V_nf  = np.zeros((nc,lm))          # Numpy 2D array to store generated potentials
V_nf2 = np.zeros((ngm,nc))         # Numpy 2D array to store ab_initio potentials

<hr style="border:2px solid black"></hr>

### Regenerating PES from V_lambda
***
<span style="color:indigo"><u> Example Output</u></span>
   
       Prints regenerated potentials in 2D datframe: (Rows --> R, Column --> theta)

<hr style="border:2px solid black"></hr>

In [4]:
V_n1 = px.dot(df_Vn.T)                 # save regenerated potentials
a12 = np.arange(ngm)            # creates header for angles
df_Vnf = pd.DataFrame(V_n1.T, columns = a12) # saves final matrix into dataframe with appropriate header
df_Vnf                     # prints regenerated potentials

,0,1,2,3,4,5,6
0,7.552939e+06,4.519685e+06,1.224973e+06,189193.8812,29906.0666,7350.4355,4255.4478
1,5.106332e+06,3.054081e+06,8.263275e+05,127227.1035,19940.6432,4786.8288,2704.8843
2,3.449684e+06,2.062104e+06,5.568803e+05,85437.0420,13256.8272,3091.8685,1693.8863
3,2.328629e+06,1.391133e+06,3.748989e+05,57282.3396,8781.7219,1975.6290,1038.9396
4,1.570514e+06,9.376093e+05,2.520930e+05,38335.1057,5791.4202,1244.0273,618.0758
...,...,...,...,...,...,...,...
176,0.000000e+00,0.000000e+00,0.000000e+00,0.0000,0.0000,0.0000,0.0000
177,0.000000e+00,0.000000e+00,0.000000e+00,0.0000,0.0000,0.0000,0.0000
178,0.000000e+00,0.000000e+00,0.000000e+00,0.0000,0.0000,0.0000,0.0000
179,0.000000e+00,0.000000e+00,0.000000e+00,0.0000,0.0000,0.0000,0.0000
180,0.000000e+00,0.000000e+00,0.000000e+00,0.0000,0.0000,0.0000,0.0000

<hr style="border:2px solid black"></hr>

### Import ab initio/original potentials and convert into 2D (contour) dataframe to find error

<span style="color:green"><u> Example Input </u></span>

    Input name : 2_inp_2D_PES.dat             # file name containing V_lambda
    Separation : \s+                          # Separation: Options are comma (,) and tab (\t), multiple spaces(\s+), etc. 
    *E_inf     : NOT NEEDED                   # input is already in cm-1

***
<span style="color:indigo"><u> Example Output</u></span>
   
       Prints ab initio/original 2D PES in a contour matrix format. 
<hr style="border:2px solid black"></hr>

In [5]:
df_inp2 = pd.read_csv('2_inp_2D_PES.dat',header=None,sep='\s+')           # importing ab initio data (no header)
#E_inf = -78.70465827  
#df_inp2[2] = (df_inp2[2] - E_inf)*219474.63                        # convert to cm-1 (not needed for example)

df_inp2.sort_values(by = [ 0,1], inplace=True, ascending = True)    # sort by (R, theta) in ascending order

# loop to convert R, theta, E dataframe into a contour like matrix. 
for i in range (nc):            # loop over all R   
    ct = i*ngm                  # extract start point. Since input dataframe is sorted by R and theta, 
    f = df_inp2[2][ct:ct+ngm]   # potentials (V) are extracting for each R value at a time 
    V_nf2[:,i] = f           # ab initio data stored in 2D matrix one by one

df_Vnf2 = pd.DataFrame(V_nf2.T, columns = a12)                      # saves final matrix into dataframe with angular header
df_Vnf2                                                             # prints original PES

,0,1,2,3,4,5,6
0,7.552939e+06,4.519685e+06,1.224973e+06,189193.8812,29906.0666,7350.4355,4255.4478
1,5.106332e+06,3.054081e+06,8.263275e+05,127227.1035,19940.6432,4786.8288,2704.8843
2,3.449684e+06,2.062104e+06,5.568803e+05,85437.0420,13256.8272,3091.8685,1693.8863
3,2.328629e+06,1.391133e+06,3.748989e+05,57282.3396,8781.7219,1975.6290,1038.9396
4,1.570514e+06,9.376093e+05,2.520930e+05,38335.1057,5791.4202,1244.0273,618.0758
...,...,...,...,...,...,...,...
176,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.0000,-0.0000,-0.0000,-0.0000
177,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.0000,-0.0000,-0.0000,-0.0000
178,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.0000,-0.0000,-0.0000,-0.0000
179,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.0000,-0.0000,-0.0000,-0.0000
180,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.0000,-0.0000,-0.0000,-0.0000

<hr style="border:2px solid black"></hr>

### RMSE at various regions
    There is a very small error since:
    {no of angular terms = no of V lambdas}
    
    For cases otherwise, there is substantial error, See 4D file!
<hr style="border:2px solid black"></hr>

In [6]:
print(df_R[15])
print(df_R[70])

4.5
9.0

In [10]:
# Error at minima (approx location)
st, end = 15, 70
rmse_min = np.sqrt(np.mean(np.square(df_Vnf[st:end]-df_Vnf2[st:end])))
rmse_min.mean()

6.748714551475192e-13

In [11]:
# Error at high energy (approx location)
end = 15
rmse_min = np.sqrt(np.mean(np.square(df_Vnf[:end]-df_Vnf2[:end])))
rmse_min.mean()

5.354980667856836e-10

In [12]:
# Error at asymptotic (approx location)
st = 70
rmse_min = np.sqrt(np.mean(np.square(df_Vnf[st:]-df_Vnf2[st:])))
rmse_min.mean()

8.82182921374308e-17